/* Este arquivo CSS foi criado para possibilitar pequenas customizações sem que
    o CSS principal fique saturado, e também para facilitar a edição da tais customizações.
*/

/* Desktop - Largura maior que 736px*/
@media screen and (min-width: 736px) {
    #fb-button {
        position: relative;
        top: -100px;
        width: 300px;
    }
}


/* Configurações mobile - Largura menor que 736px*/
@media screen and (max-width: 736px) {
    /* Dropdown idiomas  home/index */
    #language-dropdown {
        width:50%;
    }

    /* Botão Arrow-Right  home/index */
    #arrow-right {
        position:relative;
        top: -45px;
        right: -24%;
        float:right;
    }

    /* Botão Entrar com Facebook  home/index*/
    #fb-button {
        position: relative;
        width: 250px;
    }
}
