.chatInfo {
    width: 100%;
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    color: #333;
}

.chat {
    position: relative;
    bottom: -300px;
    left: 50%;
    margin-bottom: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80vh;
    max-height: 500px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 735px) {
    .chat {
        bottom: -110px;
        height:100%;
        width: 130%;
    }
}

.messageDisplay {
    float: left;
    width: 95%;
    height: 500px;
    margin: 40px 0 0 2.9%;
    background: #fff;
    border: 1px solid #ccc;
    overflow-y: scroll;
    background: fff;
}

.messageContainer {
    width: 100%;
    float: left;
    position: relative;
}

.message {
    max-width: 60%;
    padding: 10px;
    position: relative;
    margin: 20px;
    border-radius: 4px;
    word-break: break-all;
    color: #fff;
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
}

    .message span {
        color: #8a959c;
    }

.his {
    background: #f0f4f7;
    float: left;
}

.mine {
    background: #dbdee0;
    float: right;
}

.hisMessageArrow {
    position: relative;
}

    .hisMessageArrow:after {
        left: -24px;
        top: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136,183,213,0);
        border-right-color: #f0f4f7;
        border-width: 9px;
        margin-top: 5px;
    }

.myMessageArrow {
    position: relative;
}

    .myMessageArrow:after {
        right: -24px;
        top: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136,183,213,0);
        border-left-color: #dbdee0;
        border-width: 9px;
        margin-top: 5px;
    }

.hisTimeStamp {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: .6em;
    color: #fff;
    opacity: 0.2;
    font-size: .8em;
    font-family: 'HomizioRegular';
}

.mineTimeStamp {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: .6em;
    color: #fff;
    opacity: 0.2;
    font-size: .8em;
    font-family: 'HomizioRegular';
}



.sendSlice {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40px;
    -ms-flex: 0 1 40px;
    flex: 0 1 40px;
    width: 100%;
    background: #fff;
    padding: 10px;
    position: relative;
}

    .sendSlice textarea {
        background: #f0f4f7;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none !important;
        resize: none;
        overflow:hidden;
        margin-bottom:15px;
        font-size: 1.2em;
        height: 23px;
        margin-left: 5px;
        width: 70%;
    }

.chatButton {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 7%;
    color: #fff;
    border: none;
    background: #aab8c2;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}

    .chatButton:hover {
        background: #4eb7b8;
    }
