@model IEnumerable<WebApplication3.Models.Teacher>

@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>
@foreach (var item in Model)
{


    <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <a class="modalButton teacherInfoButton">

            <div class="white-panel pn">
                <div class="white-header">
                    <h5>@Html.DisplayFor(modelItem => item.First_name) @Html.DisplayFor(modelItem => item.Last_name)</h5>
                </div>
                <p><img src="@Url.Content("~/" + item.ProfilePicture)" class="img-circle" width="100"></p>
                <p><b> </b></p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="small mt">REPUTATION</p>
                        <p>230</p>
                    </div>
                    <div class="col-md-5">
                        <p class="small mt">LOCALIZAÇÃO</p>
                        <p>Niterói</p>
                    </div>
                </div>
            </div>
        </a>
    </div><!-- /col-md-4 -->


     <!-- Profile Picture Modal -->
    <div class="modal fade" id="teacherInfoModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Informações do Professor</h4>
                </div>
                <div class="modal-body">
                    @{
                      
                        Html.RenderPartial("_teacherInfo", item);
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
                    <!-- Profile Picture Modal -->
                        }


